@import 'variables'; //Tự nó sẽ bổ sung thành _variables.scss

.user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 4px;
}

.checkbox-select-all-options {
    margin: 0 16px;
}